a {
  text-decoration: none;
}

p {
  margin: 2px;
}

.app {
  display:flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.chat-box {
  display:flex;
  flex-direction: column;
}

.chat-view {
  height: 250px;
  width: 500px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
  border: dotted black;
}

.handle {
  font-size: 15px;
}

.message {
  font-size: 15px;
}