body {
  background-image: url('https://s3-us-west-1.amazonaws.com/hrsf91-image-bucket/pacman-wallpaper.jpg');
}

div {
  color: white;
}

a {
  text-decoration: none;
}

p {
  margin: 2px;
}

.app {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.chat-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.chat-box {
  display:flex;
  flex-direction: column;
}

.chat-view {
  height: 250px;
  width: 500px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
  border: dotted black;
  background-color: white;
}

.handle {
  font-size: 15px;
  color: black;
}

.message {
  font-size: 15px;
  color: black;
}